*
{
    margin: 0 auto;
    padding: 0;
} 
body
{
    background: black;
}
header
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    transition: 0.6s;
    padding: 10px 100px;
    z-index: 2;
    
}
header.sticky 
{
    padding: 10px 100px;
    box-shadow: 1px 1px 20px 0px;
    background-color: black;
}
ul
{
    margin-left: 250px;
    float: left;
    display: flex;
}
ul li
{
    list-style-type: none;
}
ul li a
{
    text-decoration: none;
    color:rgb(139, 138, 138);
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul li a:hover
{
    color: white;
}
.drop
{
    width: 130px;
    height: 150px;
    margin-top: 50px;
    margin-left: 30px;
    background-color: #000;
    position: absolute;
    font-weight: bolder;
    box-shadow: 0 0 10 0 0px;
    display: none;
    
}
.drop a
{
    width: 100px;
    margin-left: 10px;
    margin-top: 20px;
    color: rgb(160, 158, 158);
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}
.drop a:hover
{
    color: #F36D35;
}
.sticky .drop
{
    background-color: rgb(37, 37, 37);
}
ul li:hover .drop
{
    display: block;
}.logo
{
    position: absolute;
}
.logo img
{
    width: 350px;
    height: 350px;
    margin-top: -120px;
    margin-left: -90px;
}
ul li a #icn
{
    margin-right: 10px;
}
ul li a #icn:hover
{
    color: #F36D35;
}
#sumry
{
    color: white;
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F36D35;
    margin-left: 1000px;
    margin-top: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    z-index: 2;
}
#sumry:hover
{
  background-color: #ee9068;
  color: black;
}
#discription
{
    width: 400px;
    height: 450px;
    background-color:black;
    border: 3px solid #F36D35;
    position: fixed;
	right: -250px;
	margin-top: 100px;
	transition: .5s;
    z-index: 5;
    border-radius: 3px;
}
#discription h1
{
    font-family: 'rubik' , sans-serif;
    color: rgb(230, 220, 220);
    margin-left: 3px;
}
#discription p
{
    font-size: 13px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 25px;
    margin-top: 10px;
    line-height: 28px;
    color: white;
    width: 320px;
    
}
.ics
{
    margin-left: 110px;
    cursor: pointer;
}
#menu-ic-1, #menu-ic-2, #menu-ic-3, #menu-ic-4
{
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}
#menu-ic-1:hover
{
    color: #1094F4;
}
#menu-ic-2:hover
{
    color: #FE0000;
}
#menu-ic-3:hover
{
    color:#515CCD ;
}
#menu-ic-4:hover    
{
    color: #50ABF1;
}
.container
{
    
    background-image: url(../img/contact-con.jpg);
    width: 100%;
    height: 600px;
    margin-top: 100px;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.pix
{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.4);
}

.container h1
{
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  margin-top: -450px; 
  margin-left: 500px;
  font-size: 40px;
}
.container p
{
    color: rgb(224, 220, 220);
    width: 500px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    position: absolute;
    margin-left: 400px;
    margin-top: -380px;
}

.middel
{
    width: 100%;
    height: 600px;
    background-color: rgb(15, 15, 15);
}
.middel h1
{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:850px;
    padding-top: 50px;
}
.fa-bars
{
    color: white;
    font-size: 30px;
    margin-left: 1150px;
    margin-top: 50px;
    position: absolute;
    transition: 0.3s;
    cursor: pointer;
}
.fa-bars:hover
{
    transform: rotate(-180deg);
}

.boxx
{
    width: 400px;
    height: 1px;
    background-color: transparent;
    border: 1px solid #F36D35;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    margin-left: 780px;
    transition: 0.2s;
}

#times
{
    color: #fff;
    font-size: 30px;
    position: absolute;
    margin-left: 1150px;
    margin-top: 50px;
    display: none;
    transition: .3s;
    cursor: pointer;
}
#times:hover
{
    transform: rotate(180deg);
}
.pr 
{
    margin-top: 30px;
    margin-left: 50px;
}
.boxx .par
{
    display: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 40px;
    color: #F36D35;
} 
.fa-user
{
    margin-top: 10px;
    position: absolute;
    margin-left: 250px;
    color: #F36D35;
    cursor: pointer;
}

#users1
{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.9);
    position: absolute;
    z-index: 4444;
    display: none;
}

#users2
{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.9);
    position: absolute;
    z-index: 4444;
    display: none;
}

#users3
{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.9);
    position: absolute;
    z-index: 4444;
    display: none;
}

#users4
{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.9);
    position: absolute;
    z-index: 4444;
    display: none;
}
#drk-cut
{
    position: absolute;
    color: white;
    font-size: 30px;
    margin-top: 650px;
    margin-left: 50px;
    z-index: 44444;
    display: none;
    cursor: pointer;
}
#drk-cut1
{
    position: absolute;
    color: white;
    font-size: 30px;
    margin-top: 650px;
    margin-left: 50px;
    z-index: 44444;
    display: none;
    cursor: pointer;
}
#drk-cut2
{
    position: absolute;
    color: white;
    font-size: 30px;
    margin-top: 650px;
    margin-left: 50px;
    z-index: 44444;
    display: none;
    cursor: pointer;
}
#drk-cut3
{
    position: absolute;
    color: white;
    font-size: 30px;
    margin-top: 650px;
    margin-left: 50px;
    z-index: 44444;
    display: none;
    cursor: pointer;
}

#drkuser
{
    font-size: 50px;
    margin-left: 620px;
    margin-top: 50px;
}
.drk h1
{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 600px;
    font-size: 40px;
    margin-top: 130px;
}
.drk p{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40px;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}
.con-us img
{
    width: 600px;
    position: absolute;
    margin-top: 700px;
    margin-left: 50px;
    box-shadow: 0 0 20px 10px;
    border-radius: 5px;
}
.uss
{
    width: 405px;
    height: 410px;
    background-color: #F36D35;
    position: absolute;
    margin-top: -35px;
    margin-left: -1px;
    transition: .3s;
    border-radius: 8px;
}
.uss p
{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    line-height: 40px;
    position: absolute;
}
/* footer */
footer
{
    width: 100%;
    height: 300px;
    background-color: black;
    position: absolute;
    margin-top: 500px;
    display: flex;
}
.sl1
{
    width: 300px;
    height: 200px;
    margin-left:0px;
    margin-top: 70px;
    background-color: black;
    transition: 0.8s;
}
.sl2
{
    width: 300px;
    height: 200px;
    margin-top: 70px;
    margin-left: -663px;
    background-color:black;
    transition: 0.8s;
}
.mybtn
{
    position: absolute;
    color: #fff;
    margin-top: 230px;
    margin-left: 70px;
    letter-spacing: 5px;
    font-size: 12px;
    transition: 1s;
    cursor: pointer;
}
#mybt:hover
{
    color: #F36D35;
}
#mybt1:hover
{
    color: #F36D35;
}
.our
{
    position: absolute;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-top: -40px;
    margin-left: -800px;
}
.sl1 p
{
    color: rgb(180, 172, 172);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 250px;
    margin-left: 20px;
}
.sl2 p
{
    color: rgb(180, 172, 172);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 250px;
    margin-left: 20px;
}
.left-foot
{
    width: 983px;
    height: 330px;
    background-color: black;
    margin-left: 280px;
    position: absolute;
}
.left-foot h3
{
    color: #F36D35;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
}
.left-foot a
{
    display: flex;
    margin-left: 150px;
    line-height: 30px;
    text-decoration: none;
    color: rgb(175, 168, 168);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   
.account
{
    position: absolute;
    margin-left: 300px;
    margin-top: -210px;
}
.account #acc
{
    color: #F36D35;
    margin-left: -30px;
    margin-top: 10px;
}
.store
{
 position: absolute;
 margin-left: 600px;
 margin-top: -210px;
}
.store h3
{
    color: #F36D35;
}
.store img
{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-top: -80px;
    margin-left: 80px;
}
.store a
{
    margin-top: 80px;
}
#st
{
    color: #F36D35;
    position: absolute;
    margin-top: 70px;
    margin-left: 130px;
}
.footer-2
{
    width: 100%;
    height: 100px;
    background-color: black;
    border-top: 1px solid #F36D35;
    position: absolute;
    margin-top: 800px;
}
.footer-2 h4
{
    color:rgb(138, 137, 137);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 500px;
    margin-top: 40px;
    font-size: 16px;
}
